<%= render 'navigation'%>
<%= form_for @article do |f| %>
 <div id="main-content" class="col-xs-12 col-sm-100 main pull-right">
  <form class="form-horizontal" role="form">
   <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Judul:</label>
      <div class="col-sm-3">          
        <%= f.text_field :title, :size => 20, :class => 'form-control', :placeholder=>'Masukan Judul' %> 
      </div>
    </div>
    <br>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Isi:</label>
      <div class="col-sm-3">
      <%= f.text_area :content, :cols => 30, :rows => 10, :class => 'form-control', :placeholder=>'Masukan Konten Berita' %> 
    </div>
    </div>
    <div class="form-group">
		<label class="control-label col-sm-10" for="pwd">Gambar:</label>
		<div class="col-sm-offset-2 col-sm-10">
	<%= f.file_field :picture %></p>
	</div>
</div>
<div class="form-group">        
      <div class="col-sm-offset-1 col-sm-10">
        <button type="submit" class="btn btn-default">Submit</button>
		      </div>
		    </div>
    </div>
<%= @article.errors[:content].first unless @article.errors[:content].blank? %>

<% end %>

