<%= render 'admins/navigation'%>
<%= render 'admins/sidebar'%>
<br/><br/><br/>
<%= form_for @game do |f| %>
<div class="col-sm-2">
	</div>
<div class="col-sm-7">
		<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Edit Permainan</div>
					<br/>
	<form class="form-horizontal" role="form">
		<div class="form-group">
			<%= f.label :title, "Nama Permainan:", :class => "control-label col-sm-2" %>
			<div class="col-sm-10">
				<%= f.text_field :title, :class => 'form-control', :placeholder=>'Masukan Nama Permainan'%>
				</div>
			</div>
			<br/><br/>			
			<div class="form-group">
			<%= f.label :content, "Keterangan Permainan:", :class => "control-label col-sm-2" %>
			<div class="col-sm-10">
				<%= f.text_area :content, :class => 'form-control', :placeholder=>'Masukan Keterangan Permainan'%>
				</div>
			</div>
			<br/><br/><br/>			
			<div class="form-group">
			<%= f.label :picture1, "Gambar1 : ", :class => "control-label col-sm-2" %>
			<div class="col-sm-10">   
				<%= f.file_field :picture1%>
				</div>
			</div>
			<br/>
			<div class="form-group">
			<%= f.label :picture2, "Gambar2 : ", :class => "control-label col-sm-2" %>
			<div class="col-sm-10">   
				<%= f.file_field :picture2%>
				</div>
			</div>
			<br/>
			<div class="form-group">
			<%= f.label :picture3, "Gambar3 : ", :class => "control-label col-sm-2" %>
			<div class="col-sm-10">   
				<%= f.file_field :picture3%>
				</div>
				<br/><br/><br/>
			<%= f.submit "Simpan", :class => 'btn btn-default'%>
						</div>				
					</div>
				</form>
			</div>
		</div>
	</div>
<% end %>
