<%= render 'homes/navigation'%>
<br/><br/><br/><br/><br/><br/>
<%= form_for @reservation do |f| %>
<div class="col-sm-2">
	</div>
<div class="col-sm-9">
	<div class="col-lg-8">
				<div class="panel panel-default">
					<div class="panel-heading">Paket Wisata Pakuhaji</div>
					<br/>					
	<form class="form-horizontal" role="form">
		<div class="form-group">
			<%= f.label :date_now, "Tanggal : ", :class => "control-label col-sm-3" %>
			<div class="col-sm-8">
				<%= f.text_field :date_now, :class => 'form-control', :placeholder=>'Masukan Judul'%>				
			</div>
			<br/><br/>
			<%= f.label :date_booked, "Tanggal Pesan : ", :class => "control-label col-sm-3" %>
			<div class="col-sm-8">
				<%= f.text_field :date_booked, :class => 'form-control', :placeholder=>'Masukan Isi Berita'%>				
			</div>
			<br/><br/>
			<%= f.label :id_vacation_packet, "Pilih Paket : ", :class => "control-label col-sm-3" %>
			<div class="col-sm-8">
				<%= select("reservation", "id_vacation_packet", VacationPacket.find(:all).collect {|p| [ p.title, p.id ] })%>				
			</div>
				<br/><br/>
			<%= f.label :id_game, "Pilih Permainan : ", :class => "control-label col-sm-3" %>
			<div class="col-sm-7">			
				<div class="col-xs-12 col-sm-6 col-md-8 col-lg-6 text-center">						
                    <tbody>
                    	<% @game.each do |game|%>
                              <tr>
                               	<td><%= check_box_tag "game_ids[]", game.id %></td>
                               	<td><%= game.title %></td>                               	
                               	<% end %>                               	
                           	</tr>
                   	</tbody>
                </div>		                            						
			</div>
				<br/><br/>
			<%= f.label :people_kid, "Jumlah Anak : ", :class => "control-label col-sm-3" %>
			<div class="col-sm-8">
				<%= f.text_field :people_kid, :class => 'form-control', :placeholder=>'Masukan Isi Berita'%>				
			</div>
				<br/><br/>
				<%= f.label :id_food_kid, "Makan Anak : ", :class => "control-label col-sm-3" %>
			<div class="col-sm-8">
				<%= select("reservation", "id_food_kid", FoodKid.find(:all).collect {|p| [ p.content, p.id ] })%>				
			</div>
				<br/><br/>								
			<%= f.label :people_adult, "Jumlah Dewasa : ", :class => "control-label col-sm-3" %>
			<div class="col-sm-8">
				<%= f.text_field :people_adult, :class => 'form-control', :placeholder=>'Masukan Isi Berita'%>				
			</div>
				<br/><br/>			
			<%= f.label :id_food_adult, "Makan Dewasa : ", :class => "control-label col-sm-3" %>
			<div class="col-sm-8">
				<%= select("reservation", "id_food_adult", FoodAdult.find(:all).collect {|p| [ p.content, p.id ] })%>			
			</div>
				<br/><br/>
			<%= f.label :id_additional_packet, "Paket Tambahan : ", :class => "control-label col-sm-3" %>
			<div class="col-sm-7">													
                    <tbody>
                    	<% @additional_packet.each do |additional_packet|%>
                              <tr>
                               	<td><%= check_box_tag "additional_packet_id[]", additional_packet.id %></td>
                               	<td><%= additional_packet.content %></td>
                               	<div class="container col-sm-3 side pull-right ">
                               	<td><%= additional_packet.price %></td>
                               	</div> 
                               	<br/>                              	
                               	<% end %>                               	
                           	</tr>
                   	</tbody>                           					
			</div>

				
			<br/><br/><br/>		
			<%= f.submit "Simpan", :class => 'btn btn-default '%>
			<% end %>
					
			</div>
				</form>
			</div>
		</div>
	</div>
