<%= render 'navigation'%>
<%= render 'slideshow'%>
<body>
    <section id="services" class="emerald">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                             <%= image_tag("Logo Polos.png", :class => "img-square", :width => "100" , :height => "80" ) %>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Fasilitas</h3>
                            <p>Pakuhaji mempunyai beberapa fasilitas yang membuat para penggunjung menikmati suasana.</p>
                            	<%= link_to 'read more', fasility_home_path %>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                             <%= image_tag("Logo Polos.png", :class => "img-square", :width => "100" , :height => "80" ) %>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Permainan</h3>
                            <p>Pakuhaji mempunyai beberapa permainan yang menarik untuk anda coba sekaligus menguji adrenalin anda.</p>
                            <%= link_to 'read more', game_home_path %>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                            <%= image_tag("Logo Polos.png", :class => "img-square", :width => "100" , :height => "80" ) %>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Paket</h3>
                            <p>Pakuhaji menyediakan paket-paket yang menarik untuk anda yang akan membuat sebuah acara atau pesta.</p>
                            <%= link_to 'read more', packet_home_path %>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
            </div>
        </div>
    </section><!--/#services-->

    <section id="recent-works">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h3>Galeri</h3>
                    <p>Momen-momen yang menarik yang diabadikan oleh pakuhaji</p> 
                     <% @id_gallery = Gallery.first(1) %>
  										<%= link_to " read more ",gallery_show_home_path(@id_gallery)%>                   
                    <p class="gap"></p>
                </div>
                <div class="col-md-9">
                    <div id="scroller" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">                                                
                                                <%= image_tag("galeri_depan1.JPG") %>                                                
                                               
                                            </div>
                                        </div>
                                    </div>                            
                                    <div class="col-xs-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <%= image_tag("galeri_depan2.JPG") %>
                                               
                                            </div>
                                        </div>
                                    </div>                            
                                    <div class="col-xs-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <%= image_tag("galeri_depan3.JPG") %>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div><!--/.row-->
                            </div><!--/.item-->                        
                        </div>
                    </div>
                </div>
            </div><!--/.row-->
        </div>
    </section><!--/#recent-works-->

    <section id="testimonial" class="alizarin">
        <div class="container">
            <div class="row">                
                    <div class="center">
                        <h2>Berita Pakuhaji</h2>
                        <br/> 
                        <% @article.each do |article| %>
							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 text-center">		
								<blockquote>
									<div class="article">				
									<p><%= article.title %></p>												
									<p><%= article.content.truncate(100) %></p>					
									<p><%= link_to image_tag(article.picture.url(:thumb)),article.picture.url(:original), class: "fancybox"%></p>
									<center><%= link_to 'read more', article_path(article.id) %></center>										
									</div>
								</blockquote>			
							</div>
									<% end %>									                      
                    </div>                  
                </div>
            </div>
        </div>
        <%= paginate @article, :window => 3 %>
    </section><!--/#testimonial-->
</body>
<%= render 'footer'%>
