<%= render 'admins/navigation'%>
<%= render 'admins/sidebar'%>
<br/><br/><br/>
<%= form_for @food do |f| %>
<div class="col-sm-2">
	</div>
<div class="col-sm-7">
	<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Tambah Makan</div>
					<br/>					
	<form class="form-horizontal" role="form">
		<div class="form-group">
			<%= f.label :name, "Nama Makanan : ", :class => "control-label col-sm-3" %>
			<div class="col-sm-8">
				<%= f.text_field :name, :class => 'form-control', :placeholder=>'Masukan Makanan'%>				
			</div>
			<br/><br/>
			<%= f.label :category, "Kategori :", :class => "control-label col-sm-3" %>
			<div class="col-sm-8">
			<%= f.radio_button :category, "anak", :checked => true %>
			<%= label :category_anak, 'Anak-Anak' %>
			<%= f.radio_button :category, "dewasa", :checked => true %>
			<%= label :category_dewasa, 'Dewasa' %>
			</div>	
			<br/><br/><br/>		
			<%= f.submit "Simpan", :class => 'btn btn-default '%>			
			</div>
				</form>
			</div>
		</div>
	</div>
<% end %>

