<!DOCTYPE html>
<html>
<head>
  <title>Pakuhaji</title>
   
  <%= stylesheet_link_tag    "admin", media: "all" %>
  <%= stylesheet_link_tag    "datepicker", media: "all" %>
  <%= stylesheet_link_tag    "styles", media: "all" %>
  <%= stylesheet_link_tag    "bootstrap", media: "all" %>
  <%= javascript_include_tag "admin" %>
  
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield  %>	

</body>
</html>
